<div id='msg-container-recent-activity'></div>
<div class="widget wlightblue">
<div class="clearfix"></div>
<div class="asset-view-container"></div>
<div class="widget-content">
<form class="form-horizontal" id='form-asset-create' role="form">

<div class="wr-section">
    <h2 class="first-h2 exp_col" style="display:block"><i class="icon-chevron-sign-down icon"></i>Overview</h2>

    <div id="wr-overview" style="display:block">
        <!--p class="title-helper-txt">A small description about these set of fields.</p-->
        <fieldset>
            {{{ form_render "overview_provider" data.fields }}}
            {{{ form_render "overview_name" data.fields }}}
            {{{ form_render "overview_displayName" data.fields }}}
            {{{ form_render "overview_context" data.fields }}}
            {{{ form_render "overview_version" data.fields }}}

            <div class="form-group">
                <label class="control-label col-sm-2">Transports: <span class="label-required">*</span></label>

                <div class="col-sm-10">

                    <div class="radio">
                        <label>
                            <input type="radio" data-value="http" class="trans_checkbox" name="optradio">
                            http
                        </label>

                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" data-value="https" class="trans_checkbox" name="optradio">
                            https
                        </label>
                    </div>

                </div>
            </div>
            <input type="hidden" required="" class="col-lg-6 col-sm-12 col-xs-12" name="overview_transports"
                   id="overview_transports">


            {{{ form_render "overview_webAppUrl" data.fields }}}
            {{{ form_render "overview_description" data.fields }}}
            {{{ form_render "images_thumbnail" data.fields }}}
            {{{ form_render "images_banner" data.fields }}}

            <input type='hidden' value="" name="context" id="context_id"/>
            <input type='hidden' value="" name="version" id="version_id"/>
            <input type='hidden' value="Unlimited" name="overview_tier"/>
            <input type='hidden' value="" name="overview_trackingCode" id="tracking_code"/>

            <div class="form-group">
                <b><label class="control-label col-sm-2">Tags: </label></b>

                <div class="col-sm-10">
                    <input type='text' id='tag-test' name='tags'>
                </div>
            </div>

        </fieldset>
    </div>
</div>

<div class="wr-section">
    <h2 class="first-h2 exp_col" style="display:block"><i
            class="icon-chevron-sign-right icon"></i>Policies</h2>

    <div id="wr-overview" class="wr-overview-policies inner-level" style="display:none">

        <div class="wr-section">
            <h2 class="exp_col"><i class="icon-chevron-sign-right icon"></i>Global Policies </h2>

            <div id="wr-overview global-section" style="display:none">
                <div class="form-group">
                    <label class="control-label col-sm-4">Allow Anonymous Access: </label>

                    <div class="col-sm-8">
                        <input type="checkbox" class="anonymous_checkbox">
                    </div>
                </div>
                <input type="hidden" required="" value="false" class="col-lg-6 col-sm-12 col-xs-12"
                       name="overview_allowAnonymous" id="overview_allowAnonymous">

                <div class="form-group">
                    <label class="control-label col-sm-4">Skip Creating Proxying WebApp: </label>

                    <div class="col-sm-8">
                        <input type="checkbox" class="skip_gateway_checkbox">
                    </div>
                </div>

                <input type="hidden" required="" value="false" class="col-lg-6 col-sm-12 col-xs-12"
                       name="overview_skipGateway" id="overview_skipGateway">

                <div class="form-group">
                    <label class="control-label col-sm-4">Restrict Visibility: </label>

                    <div class="col-md-1">
                        <input type="checkbox" class="controll_visibility">
                    </div>

                    <div class="global_role">
                        <input type="text" id="roles" name="roles" class='col-lg-6 col-sm-8 col-xs-6'
                               placeholder="type user role to search"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Enable Single Logout: </label>

                    <div class="col-md-1">
                        <input type="checkbox" class="controll_overview_logoutUrl">
                    </div>
                    <div>
                        <input type='text' class='col-lg-5 col-sm-5 col-xs-5'
                               value="{{{snoop "fields(name=overview_logoutUrl).value" data}}}"
                               name="overview_logoutUrl" id="overview_logoutUrl"/>
                    </div>
                </div>

                <div id="divJavaPolicies">

                </div>

            </div>
        </div>

        <div class="wr-section">
            <button id="btn-add-policy-group" class="btn btn-default pull-right" data-toggle='modal'
                    data-target='#policy-group-editor' type="button">Add New Resource Policy
            </button>
            <h2 class="exp_col"><i class="icon-chevron-sign-right icon"></i>Resource Policies <span
                    class="label-required">*</span></h2>

            <div id="wr-overview" style="display:none">
                <!--p class="title-helper-txt">A small description about these set of fields.</p-->

                <fieldset>
                    <input type='hidden' value="[]" name="uritemplate_policyGroupIds" id="uritemplate_policyGroupIds"/>
                    <input type='hidden' value="[]" name="uritemplate_policyPartialIdstemp"
                           id="uritemplate_policyPartialIdstemp"/>
                    <input type='hidden' value="[]" name="uritemplate_javaPolicyIds"
                           id="uritemplate_javaPolicyIds"/>
                    <table class="table table-striped" id="policyGroupsTable">
                        <thead>
                        <tr>
                            <th class="col-md-4">Resource Policy Name</th>
                            <th class="col-md-7">Description</th>
                            <th class="col-md-1">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="wr-section">
    <h2 class="exp_col"><i class="icon-chevron-sign-right icon"></i>Web Application Resources</h2>
    <!--p class="title-helper-txt">A small description about these set of fields.</p-->
    <div id="wr-overview" style="display:none">

        <fieldset>
            <div class="resource_form">
                <div class="form-group">
                    <label class="control-label col-sm-2">URL Pattern</label>

                    <div class="col-sm-10">
                        <div class="input-prepend">
                            <span class="add-on">/{context}/{version}/</span>
                            <input class="col-md-2" id="url_pattern" type="text"
                                   placeholder="path/to/resource" style="width: 400px">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <b><label class="control-label col-sm-2">HTTP Verb</label></b>

                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label><input value="GET" class="http_verb" type="checkbox">GET</label>
                            <label><input value="POST" class="http_verb" type="checkbox">POST</label>
                            <label><input value="PUT" class="http_verb" type="checkbox">PUT</label>
                            <label><input value="DELETE" class="http_verb" type="checkbox">DELETE</label>
                            <label><input value="OPTIONS" class="http_verb" type="checkbox">OPTIONS</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-default" type="button" id="add_resource">Add Resource</button>
                        <button class="btn btn-default" type="button" id="clear_resource">Clear</button>
                    </div>
                </div>
            </div>
            <!-- resource form-->
            <table
                    class="table table-striped table-bordered table-condensed table-hover resource-table"
                    style="margin-top: 10px;">
                <thead>
                <tr>
                    <th class="col-md-6">URL Pattern</th>
                    <th class="col-md-2">HTTP Verb</th>
                    <th class="col-md-2">Resource Policy <span
                            class="label-required">*</span></th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody id="resource_tbody">
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <input type='hidden' id="entitlementPolicies" name="entitlementPolicies"/>
        </fieldset>

    </div>
</div>

<div class="wr-section">
    <h2 class="exp_col"><i class="icon-chevron-sign-right icon"></i>Advanced Configuration</h2>
    <!--p class="title-helper-txt">A small description about these set of fields.</p-->
    <div id="wr-overview" style="display:none">
        <div class="wr-section inner-level">
            <h2 class="exp_col"><i class="icon-chevron-sign-right icon"></i>Claims</h2>
            <!--p class="title-helper-txt">A small description about these set of fields.</p-->
            <div id="wr-overview" style="display:none">
                <fieldset>
                    <div id="ssoTable" class="sso">

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10" style="display:none">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="autoConfig" id="autoConfig" checked="checked"/>Auto
                                        Configuration
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="provider-table" style="display: none;" class="form-group claims-table">
                            <label class="control-label col-sm-2">SSO Providers</label>

                            <div class="col-sm-10">

                                <select name="providers" id="providers">
                                </select>
                                <input type='hidden' value="" name="sso_ssoProvider" id="sso_ssoProvider"/>

                            </div>
                        </div>


                        <div class="form-group claims-table" id="claims-table" style="display: block;">
                            <label class="control-label col-sm-2">Available Claims</label>

                            <div class="col-sm-10">
                                <select name="claims" id="claims"
                                        class="btn dropdown-toggle btn-default border-ovrd"></select>
                                <input id="addClaims" name="addClaims" type="button" value="Add Claim"
                                       class="btn btn-default">
                            </div>
                        </div>

                    </div>


                    <label class="control-label">Selected Claims</label>
                    <table id="claimTableId" style="display: none;" class="table table-bordered">

                        <tbody id="claimTableTbody">
                        <input type="hidden" name="claimPropertyCounter" id="claimPropertyCounter" value="0">
                        </tbody>
                    </table>
                </fieldset>

                <fieldset>
                    <input type='hidden' value="Enabled" name="sso_singleSignOn"/>
                    <input type='hidden' value="https://localhost:9444/samlsso/" name="sso_idpProviderUrl"/>
                    <input type='hidden' value="" name="sso_saml2SsoIssuer" id="saml2SsoIssuer"/>
                </fieldset>
            </div>
        </div>

        <div class="wr-section inner-level">
            <h2 class="exp_col"><i class="icon-chevron-sign-right icon"></i>OAuth2 Key Manager Configuration</h2>

            <div id="wr-overview" style="display:none">
                <fieldset>
                    <table
                            class="table table-striped table-bordered table-condensed table-hover table-input"
                            style="margin-top: 10px;">
                        <thead>
                        <tr>
                            <th>API Name</th>
                            <th>API Consumer Key</th>
                            <th>API Consumer Secret</th>
                            <th>API Token Endpoint</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input class="col-md-12" name="oauthapis_apiName1" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiName1).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiConsumerKey1" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiConsumerKey1).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiConsumerSecret1" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiConsumerSecret1).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiTokenEndpoint1" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiTokenEndpoint1).value" data}}}"></td>
                        </tr>
                        <tr>
                            <td><input class="col-md-12" name="oauthapis_apiName2" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiName2).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiConsumerKey2" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiConsumerKey2).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiConsumerSecret2" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiConsumerSecret2).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiTokenEndpoint2" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiTokenEndpoint2).value" data}}}"></td>
                        </tr>
                        <tr>
                            <td><input class="col-md-12" name="oauthapis_apiName3" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiName3).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiConsumerKey3" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiConsumerKey3).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiConsumerSecret3" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiConsumerSecret3).value" data}}}"></td>
                            <td><input class="col-md-12" name="oauthapis_apiTokenEndpoint3" type="text"
                                       value="{{{snoop "fields(name=oauthapis_apiTokenEndpoint3).value" data}}}"></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>

    </div>
</div>


<div class="form-group form-actions">
    <div class="col-sm-10" id="saveButtons">
        <button id="btn-create-asset" class="btn btn-primary" name="addNewAssetButton">Create</button>
        <button class="btn btn-reset" type="reset">Reset</button>
        <button class="btn btn-cancel" onclick="window.location='/publisher';return false;">Cancel</button>
        <input type="hidden" value="{{shortName}}" name="{{shortName}}" id="meta-asset-type">
    </div>
</div>
</form>

{{> entitlement-policy-editor}}
{{> policy-group-editor}}

</div>

</div>
