
 <div class="alert alert-error" id="inlineError" style="display:none">
            <span id="inlineErrorSpan"></span>
        </div>
     <div id="layout-base" class="container-fluid content-section" style="padding:20px">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div id="apiDeatils">
                        <h2>{{data.docName}}</h2>
                    </div>
                    	 <input type='hidden' value="{{artifact.attributes.overview_provider}}" name="provider" id="provider"/>
                    	 <input type='hidden' value="{{artifact.attributes.overview_name}}" name="webapp" id="webapp"/>
                    	 <input type='hidden' value="{{artifact.attributes.overview_version}}" name="version" id="version"/>
                    	 <input type='hidden' value="{{data.docName}}" name="doc" id="doc"/>
                    	  
                <div class="alert alert-success" id="docAddMessage" style="display:none;width:62%">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Successfully added the Document Content.</strong>
                </div>
                </div>

                <div class="col-md-10">
                    <textarea id="inlineEditor" style="width:100%;height:500px;"></textarea>
                </div>
             
                <div class="col-md-12">
                    <div style="padding:10px 0;">
                        <button type="button" title="Save the changes to the document and stay in this tab" class="btn btn-primary" id="inline-apply-button" onclick="saveContent('{{artifact.attributes.overview_provider}}','{{artifact.attributes.overview_name}}','{{artifact.attributes.overview_version}}','{{data.docName}}','apply')">Save</button>
                        <button type="button" title="Save the document and close this tab" class="btn btn-primary" id="inline-save-button" onclick="saveContent('{{artifact.attributes.overview_provider}}','{{artifact.attributes.overview_name}}','{{artifact.attributes.overview_version}}','{{data.docName}}','save')">Save and Close</button>
                        <button type="button" title="Cancel all the unsaved changes and close this tab"  class="btn" id="inline-cancel-button" onclick="window.close()">Cancel</button>

                    </div>
                </div>
    </div>
</div>
