<div class="row">
    <div class="pull-left heading" align="left"><h1>Web Applications</h1>
    </div>
</div>
<div class="asset-being-added">
</div>
{{#if deploysample.isSampleDeployed}}
    {{#ifCond deploysample.isError "==" "false"}}
        <div class="alert alert-dismissible alert-success" role="alert" id="policyGroup-notification-text" style="display: block;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" class="close">x</span><span class="sr-only">Close</span></button>
            <span id="policyGroup-notification-text-data">{{deploysample.response}}</span>
        </div>
    {{/ifCond}}
    {{#ifCond deploysample.isError "==" "true"}}
        <div class="info-div alert alert-error"> <a data-dismiss="alert" class="close">x</a><i class="icon-info-sign"></i> <span>{{deploysample.response}}</span></div>
    {{/ifCond}}
{{/if}}
<div class="asset-thumb-container">
	{{#if artifacts}}
        <div class="row-fluid">
            <table class="table table-striped list-asset-table">
                <thead>
                <th colspan="2">
                    {{#ifCond sortOptions.sortBy "==" "displayName"}}
                        <a href="?sortby=displayName&sort={{sortOptions.sort}}" class="sort-list">Name
                            <i class="icon-caret-{{sortOptions.icon}}"></i></a>
                        {{else}}
                        <a href="?sortby=displayName&sort=asc" class="sort-list">Name <i class="icon-caret-down"></i></a>
                    {{/ifCond}}

                </th>
                <th>
                    {{#ifCond sortOptions.sortBy "==" "version"}}
                        <a href="?sortby=version&sort={{sortOptions.sort}}" class="sort-list">Version
                            <i class="icon-caret-{{sortOptions.icon}}"></i></a>
                    {{else}}
                        <a href="?sortby=version&sort=asc" class="sort-list">Version <i class="icon-caret-down"></i></a>
                    {{/ifCond}}
                </th>
                <th>
                    {{#ifCond sortOptions.sortBy "==" "owner"}}
                        <a href="?sortby=owner&sort={{sortOptions.sort}}" class="sort-list">Owner
                            <i class="icon-caret-{{sortOptions.icon}}"></i></a>
                    {{else}}
                        <a href="?sortby=owner&sort=asc" class="sort-list">Owner <i class="icon-caret-down"></i></a>
                    {{/ifCond}}
                </th>
                <th>
                    {{#ifCond sortOptions.sortBy "==" "createdtime"}}
                        <a href="?sortby=createdtime&sort={{sortOptions.sort}}" class="sort-list">Created
                            <i class="icon-caret-{{sortOptions.icon}}"></i></a>
                    {{else}}
                        <a href="?sortby=createdtime&sort=asc" class="sort-list">Created <i class="icon-caret-down"></i></a>
                    {{/ifCond}}
                </th>
                <th><a href="#">Status</a></th>
                <th width="30%"><a href="#">Actions</a></th>
                </thead>
                <tbody>
                 {{#each artifacts}}
                
                    <tr>
                        <td>
                        <img src="{{this.attributes.images_thumbnail}}" class="" />
                        </td>
                        <td class="asset-listing-name col-md-3">
                            <a href='/publisher/asset/{{../shortName}}/{{this.id}}'>
                                {{this.attributes.overview_displayName}}
                            </a>
                        </td>
                        <td>
                        {{this.attributes.overview_version}}
                        </td>
                        <td>
                        {{this.attributes.overview_provider}}
                        </td>
                        <td>
                        <small>{{this.attributes.overview_createdtime}}</small>
                        </td>
                        <td>
                            <span class="lifecycle-state"><small><i class="icon-circle lc-state-{{this.lifecycleState}}"></i> {{this.lifecycleState}}</small></span>
                        </td>
                         <td>

                             {{#this.lifecycleAvailableActions}}
                                 <a  data-action="{{name}}" data-app="{{../this.id}}" class="btn {{style}} btn-action" name="addNewAssetButton">{{name}}</a>
                             {{/this.lifecycleAvailableActions}}

                             {{#this.deleteButtonAvailability}}
                                 <input type="button" value="Delete" class="btn btn-danger btn-delete"
                                        name="deleteAsset"  data-app-id={{this.id}} />
                             {{/this.deleteButtonAvailability}}

						<input
								type="hidden" value="{{../shortName}}" name="{{../shortName}}"
								id="meta-asset-type" />
						</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    {{#if leftNav}}
                    <li><a href="/publisher/assets/webapp/?page={{this.leftNav}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                    {{/if}}
                    {{#each pageIndices}}
                         {{#if this.isDisabled}}
                             <li class="disabled"><a>{{this.index}}</a></li>
                         {{else}}
                             <li><a href="/publisher/assets/webapp/?page={{this.index}}">{{this.index}}</a></li>
                         {{/if}}
                    {{/each}}
                    {{#if rightNav}}
                    <li><a href="/publisher/assets/webapp/?page={{this.rightNav}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
	{{else}}
        <div class="emptyAssets-MsgDiv">
            <i class="icon-inbox largeMsgIcon"></i>
            <br />
            No web applications added yet.
            {{#ifCond cuser.um.tenantId "==" "-1234"}}
                {{#if createPermission}}
                    <a class="btn-deploySample" data-type="{{shortName}}">Click here</a>
                    to deploy sample web applications.
                {{/if}}
            {{/ifCond}}
            <br />
            {{#if createPermission}}
            <a type="button" class="btn btn-addNewAssetLarge" href="/publisher/asset/{{shortName}}"><i class="icon-plus-sign-alt"></i>Add New Web Application</a>
            {{/if}}
        </div>
	{{/if}}





<div class="modal fade" id="messageModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Asset</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageModal3" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <textarea id="commentText" style="width: 100%" rows="2" placeholder="Please add comment here.&hellip;"></textarea>
                <input type="hidden" value="" name="webappName" id="webappName" />
                <input type="hidden" value="" name="action" id="action" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-reject-proceed">Proceed</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="spinner" class="center-wrapper hide">
    <i id="icon-spinner" class="icon-spinner icon-spin icon-4x"></i>
</div>

</div>
