<div class="row tool-bar-new">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <ul class="nav nav-pills pull-left">

    <li class="dropdown closed">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
            Web Applications <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li {{#ifCond active "==" "list-assets"}}class="active"{{/ifCond}}><a href="{{url "/assets/webapp/"}}" > All Web Applications</a></li>
        {{#if createPermission}}
            <li {{#ifCond active "==" "add-asset"}}class="active"{{/ifCond}}><a href="{{url "/asset/webapp"}}">Add New Web Application</a></li>
            <li {{#ifCond active "==" "discover"}}class="active"{{/ifCond}}><a href="{{url "/assets/discover/webapp/"}}"> Discover from Server</a></li>
            {{#ifCond um.tenantId "==" "-1234"}}
                <li><a class="btn-deploySample overide-default" data-type="{{shortName}}" >Deploy Samples</a></li>
            {{/ifCond}}
        {{/if}}
        </ul>
    </li>

{{#if viewStats}}
            <li  {{#ifCond active "==" "statistics"}}class="active"{{/ifCond}}><a href="{{url "/assets/statistics/webapp/"}}">Statistics</a></li>
{{/if}}
            {{#if notificationCount}}
            <li class="dropdown-notification">
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="badge">{{notificationCount}}</span>
                    Notifications <span class="caret"></span></a>
                <ul class="dropdown-menu notifications" role="menu">
                    {{#each notifications}}
                        <li title="Webapp {{this.appname}} has been rejected due to: {{this.notification}}"><a href="{{this.url}}">Webapp <strong>{{this.appname}}</strong> has been rejected due to: {{this.notification}}</a></li>
                    {{/each}}
                </ul>
            </li>
            {{/if}}
        </ul>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" id="inp_searchAsset" placeholder="{{t "Search Web Applications.."}}" value="{{query}}">
                <div class="input-group-addon"><a class="" id="search-button"> <i class="icon-search"></i> </a> </div>
                <input type="hidden" id="search-prefix" value="{{shortName}}"/>
            </div>
        </div>
    </div>
</div>


<div id="modal-redirect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-body">
		<div class="modal-loading"></div>
		<p>
			Redirecting you to the new Asset Version...
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary">
			Redirect now
		</button>
	</div>
</div>

