<link href="{{url "/themes/appm/css/es_statistics.css"}}" rel="stylesheet" media="screen">


<div class="content-div">
    <div class="row-fluid">
        <div class="col-md-12 asset-view-container">
        
        	<div >
        		<div class="pull-left" style="" align="left"><h2>Web Application Statistics</h2></div>	
        		<div class="date-range-wrapper pull-right clearfix" style="margin-top: 17px;">
                        <div id="date-range">
                            <div id="date-range-field">
                                <span></span>
                                <a href="#">&#9660;</a>
                            </div>
                            <div id="datepicker-calendar" ></div>
                        </div>
                    </div>
        	</div>
        	<div class="clearfix"></div>
        	
        	

        	
        	<div class="widget">
                <div class="widget-head">
                    <div class="pull-left">{{t "Overall Subscriptions"}}</div>
                    <div class="widget-controls">
                    	<a href="#" class="btn-maximize"><i class="icon icon-resize-full"></i></a>
                    	<a href="#" class="btn-minimize"><i class="icon icon-resize-small"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                     <div class="graph-container widget-graph">
                        <div id="placeholder" class="graph-placeholder"></div>
                    </div>
                    <div class="graph-container widget-table">
                        <div id="placeholder1" class="graph-placeholder"></div>
                    </div>
                   
                </div>
            </div>
        
            <div class="clearfix"></div>
        
        	<div class="widget">
                <div class="widget-head">
                    <div class="pull-left">{{t "Apps subscribed by User "}}</div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                    
                    <div class="graph-container">
                        <div id="placeholder2" class="graph-placeholder"></div>
                    </div>
                </div>
            </div>
        
        	<div class="clearfix"></div>

     <div class="widget">
                <div class="widget-head">
                    <div class="pull-left">{{t "Usage by Page"}}</div>
                    <div class="widget-controls">
                        <a href="#" class="btn-remove"><i class="icon icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
				<div class="widget-content">
				
					<div class="container-fluid">
					
						<div class="row-fluid">
							<div class="col-md-12">
								<div class="graph-container widget-graph pull-left clearfix">
									<div id="placeholder51" class="graph-placeholder"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="graph-container widget-graph2">
						<div id="placeholder52" class="graph-placeholder"></div>
					</div>


				</div>
			</div>
            
           

        	<div class="widget">
                <div class="widget-head">
                    <div class="pull-left">{{t "Usage by User"}}</div>
                    <div class="widget-controls">
                        <a href="#" class="btn-remove"><i class="icon icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                   
                    <div class="graph-container  widget-table1 pull-left">
                        <div id="placeholder3" class="graph-placeholder"></div>
                    </div>
                     <div class="graph-container   widget-table" id="userUsage">

                        <div id="placeholder31" class="graph-placeholder"></div>
                    </div>
                </div>
            </div>
       
       
       
        <div class="clearfix"></div>
       
        
                    
            <div class="widget">
                <div class="widget-head">
                    <div class="pull-left">{{t "Response Time"}}</div>
                     <div class="widget-controls">
                    	<a href="#" class="btn-maximize"><i class="icon icon-resize-full"></i></a>
                    	<a href="#" class="btn-minimize"><i class="icon icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                
                    <div class="graph-container widget-table">
                        <div id="placeholder4" class="graph-placeholder"></div>
                    </div>
                    
                    <div class="graph-container  widget-graph">
                        <div id="placeholder41" class="graph-placeholder"></div>
                    </div>
                   
                </div>
            </div>
            <div class="clearfix"></div>
        
                    
       
        	
		</div>
    </div>
</div>
<div class="backdrop"></div>