<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="space-right-20 pull-left">
                    {{#each newViewData.images}}
                        {{#ifCond value "!=" "null"}}{{#ifCond name "==" "images_thumbnail"}}<img src="{{value}}" style="max-width: 400px; max-height: 400px" class="pull-left app-stand-alone-icon"  />{{/ifCond}}{{/ifCond}}
                    {{/each}}
                </div>
                <div class="pull-left main-data-container">
                    {{#each newViewData.meta}}
                        <div>
                            <label><b>{{label}}: </b></label>
                            <span>{{value}}</span><br />
                        </div>
                    {{/each}}
                    {{#each newViewData.main}}
                        <div>
                            <label><b>{{label}}: </b></label>
                            <span>{{value}}</span> <br />
                        </div>
                    {{/each}}

                </div>

            </div><!-- panel-body -->
        </div>

        <h2>Description</h2>

        <div class="truncated-para">
            {{description.value}}
        </div>
        {{#if isMoreInfo}}<button class="btn btn-default space-bottom-20">More info</button>{{/if}}

        <ul class="nav nav-tabs">
            <li class="active"><a href="#nav-pills-tab-1" data-toggle="tab">Web Application Resources</a></li>
            <li><a href="#nav-pills-tab-2" data-toggle="tab">Single Sign On Configuration</a></li>
            <li><a href="#nav-pills-tab-3" data-toggle="tab">OAUTH Parameters</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="nav-pills-tab-1">
                <table style="margin-top: 10px;" class="table table-striped table-bordered table-condensed table-hover resource-table">
                    <thead>
                    <tr>
                        <th class="col-md-7">URL Pattern</th>
                      <th class="col-md-2">HTTP Verb</th>
                        <th class="col-md-2">Policy Group</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each newViewData.uriTemplate}}
                        {{#compare urlPattern "null" operator="!="}}
                        {{#compare urlPattern "" operator="!="}}
                            {{#compare httpVerb "null" operator="!="}}
                                <tr>
                                    <td>{{urlPattern}}</td>
                                    <td>{{httpVerb}}</td>
                                    <td>{{policyGroupName}}
                                        <a data-toggle="modal" data-target=".bs-example-modal-sm-{{policyGroupId}}-{{httpVerb}}{{policyUid}}"
                                           class="policy-tool-tip">
                                            <i class="icon-info-sign"></i>
                                        </a>
                                        <!-- add model for each policy -->
                                        <div class="modal fade bs-example-modal-sm-{{policyGroupId}}-{{httpVerb}}{{policyUid}}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                            <span class="sr-only">Close</span>
                                                        </button>
                                                        <h4 class="modal-title" id="mySmallModalLabel">
                                                            Policy Group Details - <b>{{policyGroupName}}</b>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-striped">
                                                            <tr>
                                                                <td>Throttling Tier:</td>
                                                                <td>{{policyGroupTire}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Anonymous Access:</td>
                                                                <td>
                                                                {{#if policyGroupAnonymous}}
                                                                   True
                                                                {{else}}
                                                                   False
                                                                {{/if}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>User Roles:</td>
                                                                <td>{{policyGroupRoles}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td>XACML Policies:</td>
                                                                <td>{{policyGroupPartials}}</td>
                                                            </tr>

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{/compare}}
                        {{/compare}}
                        {{/compare}}
                    {{/each}}
                    </tbody>
                </table>



            </div>
            <div class="tab-pane fade" id="nav-pills-tab-2">
                {{#each newViewData.sso}}
                    <div class="row">
                        <div class="col-sm-3"><b>{{label}}</b></div>
                        <div class="col-sm-9">{{value}}</div>
                    </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="nav-pills-tab-3">
                {{#each newViewData.oauthapis}}
                    {{#compare value " " operator="!="}}
                        <div class="row">
                            <div class="col-sm-3"><b>{{label}}</b></div>
                            <div class="col-sm-9">{{value}}</div>
                        </div>
                    {{/compare}}
                {{/each}}
            </div>
        </div>



    </div>
</div>








