<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <ul class="item-meta clearfix">
                        {{#each newViewData.meta}}
                        <li><b>{{label}}</b>: {{value}}</li>
                        {{/each}}
                    </ul>

                    <div class="space-right-20 pull-left">
                        {{#each newViewData.images}}
                        {{#ifCond value "!=" "null"}}{{#ifCond name "==" "images_thumbnail"}}<img src="{{value}}" class="pull-left app-stand-alone-icon"  />{{/ifCond}}{{/ifCond}}
                        {{/each}}
                    </div>
                    <div class="pull-left main-data-container">
                        {{#each newViewData.main}}
                        <div>
                            <label><b>{{label}}</b></label>
                            <br />
                            <span>{{value}}</span>
                        </div>
                        {{/each}}

                    </div>

                </div><!-- panel-body -->
            </div>

            <h2>Description</h2>

            <div class="truncated-para">
                {{newViewData.description.value}}
            </div>
            {{#if newViewData.isMoreInfo}}<button class="btn btn-default space-bottom-20">More info</button>{{/if}}

        </div>
    </div>
</div>


