<div id="container-search" class="container">
	<div class="row">
		<div class="span12 search-bar">
			<div class="row-fluid">
				<div class="span8">
					<h2><span class="type {{#if subPage}}selType{{/if}}">{{mainPage}}</span><span class="page">{{subPage}}</span><!--<i class="icon-angle-right"></i> Charts--></h2>
				</div>
				<div class="span4">
					<a href="#" id="search-dropdown-arrow"><i class="icon-sort-down"></i></a>
					<input type="text" class="span12" id="search" placeholder="Search">
					<a id="search-button" class=""> <i class="icon-search"></i> </a>

					<!-- dropdown -->
					<div id="search-dropdown-cont">
						<a href="#" id="search-dropdown-close"><i class="icon-remove"></i></a>

						<!--
						<label>Label 1</label>
						<input type="text" class="span12" class="search-dropdown-inp" placeholder="Author">-->

						{{#if isTopAssets}}
						{{#each searchFields}}
						{{#if this.search}}
						<div>
							<label>{{field_label}}</label>
							<input type="text" class="span12" id="{{field_label}}" name="{{field_label}}" placeholder="">
						</div>
						{{/if}}
						{{/each}}

						{{else}}
						{{#each searchFields}}
						<div>
							<label>{{field_label}}</label>
							<input type="text" class="span12" id="{{field_label}}" name="{{field_label}}" placeholder="">
						</div>
						{{/each}}

						{{/if}}

						<button id="search-button2" class="btn span3">
							<i class="icon-search"></i>
						</button>

					</div>
				</div>
				<!--<div class="span9">
				<div class="row-fluid">

				<div class="span10">
				<input type="text" class="span12" id="search" placeholder="">
				</div>
				</div>

				</div>
				<div class="span3">
				<a id="search-button" class="">
				<i class="icon-search"></i>
				</a>
				</div>-->
			</div>

		</div>

	</div>
</div>

