<h2>{{t "My Bookmarks"}}</h2>
<div id="myasset-container" class="row">
	<div class="span9">
		{{#if userAssets}}
		{{#itr userAssets}}
		<h3 class="asset-title-separator asset-type-{{key}}">{{cap key}}s</span><div class="pagination own-asset-slideshow-pag" id="own-asset-slideshow-pag-{{key}}"></div></h3>
		<div class="top-asset-slideshow-cont">
		<div class="html_carousel">
		<div id="asset-in-{{key}}">
		
			{{#each value}}
			{{#attributes}}
			<!--div class="row-fluid"-->
			<div class="store-my-item">
			
				<div class="store-my-item-thumbnail">
					<a href="{{url "/asset/"}}{{../../key}}?asset={{../path}}"><img src="{{images_thumbnail}}"></a>
				</div>
				<div class="store-my-item-info">
					<a class="asset-title" href="{{url "/asset/"}}{{../../key}}?asset={{../path}}"> 
						<strong>{{overview_name}}</strong>
					</a>
					<small class="bookmark-assert-provider">by {{overview_provider}}</small>
					<br><div class="btn-group">
						<a class="btn btn-mini" data-toggle="tooltip" title="{{t "View"}} {{../../key}}" href="{{url "/asset/"}}{{../../key}}?asset={{../path}}">
							<i class="icon-eye-open"></i>
						</a>
						<a class="btn btn-popover btn-mini {{../../key}}" data-content='&lt;iframe src="{{../../../../URL}}/gadgets/ifr?url={{overview_url}}"&gt;&lt;/iframe&gt;' data-toggle="popover" data-placement="top" title="{{t "Embed this"}} {{../../key}}">
							<i class="icon-angle-left"></i> <i class="icon-angle-right"></i>
						</a>
						<a class="btn btn-mini asset-remove-btn" type="{{../../key}}" data-aid="{{../path}}" data-toggle="tooltip" title="{{t "Remove"}} {{../../key}}">
							<i class="icon-remove"></i>
						</a>
					</div>
				</div>
			
			</div>
			<!--/div-->
			{{/attributes}}
			{{/each}}
		</div></div></div>
		<hr>
		{{/itr}}
		{{else}}
		<div id="no-data-my-items" class="no-data">
			<i class="icon-inbox"></i>
			<p>
            {{t "You still haven't any bookmarks from the Store."}}
			</p>
			<p>
				<a href="../store/assets/gadget/" class="btn btn-primary">{{t "Bookmark now"}}</a>
			</p>
		</div>
		{{/if}}
	</div>
</div>
