
{{#if user}}

<input type="hidden" value="Unlimited" id="subsAppTier" name="subsAppTier">

	{{#if isSubscribed}}

   		 <a href="#" class="btn btn-primary" id='btnUnsubscribe'>{{t "Unsubscribe"}}</a>
   		  <a href="#" class="btn btn-primary" id='btnSubscribe' style="display:none">{{t "Subscribe"}}</a>
    
	{{else}}
	 	 <a href="#" class="btn btn-primary" id='btnSubscribe'>{{t "Subscribe"}}</a>
	 	 <a href="#" class="btn btn-primary" id='btnUnsubscribe' style="display:none">{{t "Unsubscribe"}}</a>
	{{/if}}

	<a href="#" class="btn btn-primary" id='btnEnterpriseSubscriptions'>{{t "Enterprise Subscriptions"}}</a>
{{/if}}
