
{{#with apiData}}
<table class='table'>
    <thead>
    <th>{{t "URL Prefix"}}</th>
    <th>{{t "URL Pattern"}}</th>
    <th>{{t "Throttling Limit"}}</th>
    </thead>
    <tbody>
    {{#each uriTemplates}}
    <tr>

        <td>{{../context}}/{{../version}}</td>

        <td>
            {{context}}
        </td>
        <td>
            {{#each methodDetails}}

                <p><span class='badge badge-success'>{{methodName}}</span> {{details.tierDescription}}</p>

            {{/each}}
        </td>


    </tr>
    {{/each}}
    </tbody>
</table>
{{/with}}