<script>var target = '{{id}}'; var user = '{{user}}';</script>

{{#unless isLogged}}
<div class="com-guest">
	Please Sign in to add a Review
</div>
{{/unless}}
{{#if isLogged}}
    {{#unless isAuthorized}}
    <div class="com-guest">
        Please Register in "{{urlDomain}}" domain to add a Review
    </div>
    {{/unless}}
{{/if}}

<div class="row com-stream">
	
	<div class="row com-sort {{#unless reviews}}com-sort-hidden{{/unless}}">
		<ul>
			<li>
				<a href="#" id="newest">Newest</a>
			</li>
			<li>
				<a href="#" id="oldest">Oldest</a>
			</li>
			<li>
				<a href="#" class="selected" id="popular">Popular</a>
			</li>
		</ul>
	</div>

	<div id="stream">
		{{#if reviews}}
			{{#each reviews}}
				{{> activity}}
			{{/each}}
		{{else}}
			<p class="com-first-review">
				Be the first one to review!
			</p>
		{{/if}}
	</div>
	{{#if more}}
		<div id="more">
			<p class="load-more" value="{{offset}}">
			<a href="#" >More</a>
			</p>
		</div>
	{{/if}}
	<div id="empty_list"></div>
</div>
