<!DOCTYPE html>
<html>
	<head>
		<link href="{{url "/themes/default/css/reset.css"}}" type="text/css" rel="stylesheet"/>
		<link href="{{url "/themes/default/css/jquery.rating.css"}}" type="text/css" rel="stylesheet"/>
		<link href="{{url "/themes/default/css/styles.css"}}" type="text/css" rel="stylesheet"/>
        {{css .}}
	</head>
	<body>
		<div class="com-container">
			{{include body}}
			{{include stream}}
		</div>
        {{js .}}
	</body>
</html>
