<div id="modal-ent-install" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:800px; margin-left: -400px; display: none" aria-hidden="true">

    <div class="modal-header">
        <button id="btn-ent-install-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">
            x
        </button>
        <h4 id="myModalLabel">Enterprise Install</h4>
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs" id="ent-install-tabs">
            <li class="active"><a href="#roles-tab" data-name="roles" >Roles</a></li>
            <li><a href="#users-tab" data-name="users" >Users</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="roles-tab">

                <div class="raw">

                    <table cellpadding="0" cellspacing="0" border="0"
                           class="table table-striped table-bordered" id="roles-table">
                        <thead>
                        <tr>
                            <th>Role name</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>


            </div>
            <div class="tab-pane" id="users-tab">

                <div class="raw">

                    <table cellpadding="0" cellspacing="0" border="0"
                           class="table table-striped table-bordered" id="users-table">
                        <thead>
                        <tr>
                            <th>User name</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

        <div class="raw pull-right install-uninstall-panel">
            <button id="btn-apps-ent-install" class="btn btn-primary" >Install </button>
            <button id="btn-apps-ent-uninstall" class="btn btn-danger" >Uninstall</button>
        </div>

    </div>
</div>



<script>
    var isSocial = ('{{isSocial}}' == 'true');
</script>
<div class="asset-description">

    {{#with asset}}
        {{#attributes}}
            <div class="asset-description-header">
                <div class="row">
                    <div class="">
                        <div class="asset-banner">
                            <img class="img-store-mobile" src="{{#if images_banner}}{{images_banner}}{{/if}}">
                        </div>
                        <div class="asset-introduction-box">
                            <img src="{{#if images_thumbnail}}{{images_thumbnail}}{{/if}}">

                            <h3>{{overview_name}}</h3>
                            <small> {{t "Type: "}} {{overview_type}} </small>
                            <small> {{t "Version: "}} {{overview_version}}</small>
                            <small> {{t "by "}} {{overview_provider}} </small>
                            <img src="{{url "/extensions/assets/mobileapp/themes/store/img/"}}{{overview_platform}}.png" style="width: 30px;"/>
					<span class="asset-rating">
                        {{#if ../../user}}
                            <span class="user-rating" data-rating="{{../../rating.user}}">
							<input class="auto-submit-star" name="star2" type="radio" class="star"
                                   value="1"/>
							<input class="auto-submit-star" name="star2" type="radio" class="star"
                                   value="2"/>
							<input class="auto-submit-star" name="star2" type="radio" class="star"
                                   value="3"/>
							<input class="auto-submit-star" name="star2" type="radio" class="star"
                                   value="4"/>
							<input class="auto-submit-star" name="star2" type="radio" class="star"
                                   value="5"/>
						</span>  <div class="rate-num-assert">({{../../rating.user}})</div>
                        {{else}}
                            <div class="asset-rating-{{../../rating.average}}star"></div>
                        {{/if}}

                    </span>
                           {{#if ../../config.enabled}}
                                {{>asset-utilization ../../../.}}
                           {{/if}}
                         </div>

                    </div>

                </div>

            </div>
            <div class="assetp-properties">

                <ul class="nav nav-tabs" id="assetp-tabs" data-aid="{{../path}}">
                    <li class="active">
                        <a href="#tab-properties" data-toggle="tab" data-type="basic">{{t "Description"}}</a>
                    </li>
                    <li>
                        <a href="#tab-changes" data-toggle="tab" data-type="basic">{{t "Recent Changes"}}</a>
                    </li>
                    <li style="display:none">
                        <a  href="#tab-reviews" data-toggle="tab" data-type="comments">{{t "User Reviews"}}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-properties">
                        <div class="content">
                            {{>overview .}}
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-changes">
                        <div class="content">
                            {{overview_recentchanges}}
                        </div>
                    </div>


                </div>

            </div>
        {{/attributes}}
    {{/with}}
</div>
<!-- Modal -->
<!--<div id="modal-add-gadget" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
<i class="icon-remove"></i>
</button>
<h3 id="modal-add-gadget-header">Modal header</h3>
</div>
<div class="modal-body">
<code>
embed code goes here
</code>
</div>
<div class="modal-footer">
<span class="copy-status">

</span>
<button id="btn-copy-gadget-code" class="btn btn-primary">
Copy Gadget Code
</button>
</div>-->


{{#if user.username}}












<!-- Modal Features -->
<div id="devicesList" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:700px" aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">
			x
		</button>
		<h4 id="myModalLabel">Select your device to install</h4>
	</div>
	<div class="modal-body">

		{{#../devices}}
		<div data-dismiss="modal"  class="span1 text-center device-image-block-modal" style="text-align: center; cursor: pointer"
		data-device-id="{{id}}" data-platform="{{platform}}">
			<img class="device-image-modal" style="height: 100px" data-device-id="{{id}}" data-platform="{{platform}}"
			src="{{image}}">
			<div class="text-center" style="font-size: x-small">
				{{name}}
			</div>
		</div>
		{{/../devices}}

	</div>
</div>
{{/if}}

