<div class="row">
    <div class="span3">
           <h4><i class="icon-time"></i> {{t "Recently Added"}}</h4>
        {{#slice . count="20" size="20"}}
            {{#each .}}
                <div class="row-fluid recently-added">
                    {{#attributes}}
                        <div class="span3 recent-asset-icon">
			    <input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
                            {{#compare  overview_advertiseOnly "true" operator="=="}}
                                <a href="{{url "/t"}}/{{overview_appTenant}}/assets/{{../../type}}/{{overview_advertisedAppUuid}}">
                                    <img src="{{#if images_thumbnail}}{{tenantedUrl images_thumbnail}}{{/if}}"></a>
                            {{else}}
                                <a href="{{tenantedUrl "/assets"}}/{{../../type}}/{{../../id}}">
                                    <img src="{{#if images_thumbnail}}{{tenantedUrl images_thumbnail}}{{/if}}"></a>
                            {{/compare}}
                        </div>
                        <div class="span9 recent-asset-details">
			    <input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
                            <strong>

                                {{#compare  overview_advertiseOnly "true" operator="=="}}
                                    <a href="{{url "/t"}}/{{overview_appTenant}}/assets/{{../../type}}/{{overview_advertisedAppUuid}}">

                                {{else}}
                                    <a href="{{tenantedUrl "/assets"}}/{{../../type}}/{{../../id}}">

                                {{/compare}}

                                {{#compare "mobileapp" ../type}}
                                    {{overview_name}}
                                {{/compare}}
                                {{overview_displayName}}
                            </a></strong>
                            <small>by <a href="#">{{overview_provider}}</a></small>

                        </div>
                    {{/attributes}}
                </div>
            {{/each}}
            <hr/>
        {{/slice}}
    </div>
</div>
