<div>

    <h4>Add New Application</h4>
    <hr/>

    <form class='form-horizontal well' id='addAppForm'>

        <div class='control-group'>
            <label class='control-label'>{{t "Name"}}</label>

            <div class='controls'>
                <input type='text' id='appName'/>
            </div>
        </div>

        <div class='control-group'>
            <label class='control-label'>{{t "Throttling Tier"}}</label>

            <div class='controls'>

                <select id='appTier'>
                    {{#each tiers}}
                    <option>{{tierName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class='controls'>
                <a class='icon-info'></a>
                <small>Applications are required to make API Subscriptions and consume them.You will be able to
                    subscribe these applications to APIs from the API details page.Requests made from this application
                    will be throttled by the Application level throttling tier and and the subscription level throttling
                    tier
                </small>
            </div>
        </div>

        <div class='control-group'>
            <label class='control-label'>{{t "Callback URL"}}</label>

            <div class='controls'>
                <input class='input-xxlarge' type='text' id='appCallbackURL'/>
            </div>
        </div>

        <div class='control-group'>
            <label class='control-label'>{{t "Description"}}</label>

            <div class='controls'>
                <textarea class='input-xxlarge' id='appDescription'></textarea>
            </div>
        </div>

        <!--Save button-->
        <div class='form-actions'>
            <input type='button' value='Add' class='btn btn-primary' id='btnAddApp'/>
            <input type='reset' value='Cancel' class='btn'/>
        </div>

    </form>

    <hr/>

</div>