<div>
    {{#if user}}
        <input type="hidden" value="{{user.username}}" id="assetsloggedinuser" name="loggedinuser">
    {{else}}
        <input type="hidden" value="{{user.username}}" id="assetsloggedinuser" name="loggedinuser">
    {{/if}}
    <input type="hidden" value="{{config.localIP}}" id="assetsLocalIP" name="assetsLocalIP">
    <input type="hidden" value="{{config.httpsPort}}" id="assetshttpsPort" name="assetshttpsPort">
    <input type="hidden" value="{{sso}}" id="sso" name="sso">
    <div id="assets-container" data-pages="{{pages}}">

	{{#if assets}}
	{{#slice assets size="4"}}
		<div class="row-fluid">
		{{#each .}}
			<div class="span3 asset" data-id="{{id}}" data-type="{{type}}" id="asset">
				{{#attributes}}
					{{#if ../isSubscribed}}
                        <div class="ribbon-wrapper-green"><div class="ribbon-green">Subscribed</div></div>
					{{/if}}

				<a href="{{url "/assets"}}/{{../type}}/{{../id}}" id="assetsLink">
	                		<div class="asset-icon">
                                <input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
	                    			{{#if ../indashboard}}
	                    
	                    			{{/if}}
	                    			<img src="{{#if images_thumbnail}}{{images_thumbnail}}{{/if}}">
	                		</div>
				</a>
	
	            		<div class="asset-details">
					<div class="asset-name">
						<input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
						<a href="{{url "/assets"}}/{{../type}}/{{../id}}" id="assetDeatils"> <h4>{{overview_displayName}}</h4></a>
	                		</div>
	                		<div class="asset-rating">
						<div class="asset-rating-{{../rating}}star"></div>
					</div>
							{{#if ../overview_skipGateway}}
                                <style>.meta-gw-info {
                                    position: absolute;
                                    top: 25px;
                                    right: 5px;
                                    font-size: 10px;
                                    color: red;
                                }</style>
                                <div class="meta-gw-info"><i class="icon-remove"></i>Skipped Proxying</div>
							{{/if}}
                            <div class="asset-author-category">
						<ul>
							<li>
								<h4>{{t "Version"}}</h4>
								<a class="asset-version" href="#">{{overview_version}}</a>
	                        			</li>
	                        			<li>
	                        				<h4>{{t "Category"}}</h4>
	                            				<a class="asset-category" href="#">{{cap ../type}}</a>
	                            			</li>
	                       				 <li>
	                        				<h4>{{t "Author"}}</h4>
	                            				<a class="asset-author" href="#">{{overview_provider}}</a>
	                        			</li>
						</ul>
					</div>
				</div>
	            	{{/attributes}}
			</div>
        	{{/each}}
		</div>
    {{/slice}}
    {{else}}
	<div class="empty-assert">{{t "We couldn't find anything for you."}}</div>
    {{/if}}
    </div>
    <!--div class="loading-inf-scroll"></div-->
    <div id="paging-indices">
        <ul class="pagination">
            {{#if leftNav}}
                <li><a href="{{url "/assets/webapp?page="}}{{this.leftNav}}"><span aria-hidden="true">&laquo;</span><span class="sr-only"></span></a></li>
            {{/if}}
            {{#each pageIndeces}}
                {{#if this.isDisabled}}
                    <li class="disabled"><a>{{this.index}}</a></li>
                {{else}}
                    <li><a href="{{url "/assets/webapp?page="}}{{this.index}}">{{this.index}}</a></li>
                {{/if}}
            {{/each}}
            {{#if rightNav}}
                <li><a href="{{url "/assets/webapp?page="}}{{this.rightNav}}"><span aria-hidden="true">&raquo;</span><span class="sr-only"></span></a></li>
            {{/if}}
        </ul>
    </div>
</div>
