<script>
    var isSocial = ('{{isSocial}}' == 'true');
</script>

<div class="asset-description">

    {{#with asset}}
    {{#attributes}}
    <div class="asset-description-header">
        <div class="row">
            <div class="span9">
                <div class="asset-banner">
                    <img src="{{#if images_banner}}{{images_banner}}{{/if}}">
                </div>
                <div class="asset-introduction-box">
                    <img class="web-asset-img" src="{{#if images_thumbnail}}{{images_thumbnail}}{{/if}}">

                    <h3>{{overview_name}}</h3>
                    <small class="web-asset-clear"> {{t "Version"}} {{overview_version}}</small>
                    <small> {{t "by"}} {{overview_provider}}</small>
                    <small> {{t "status"}} : {{../lifecycleState}}</small>
                    <small>{{t "updated"}} : {{../../apiData.updatedDate}}</small>
					<span class="asset-rating">
                            <div style="width:{{../rating.ratingPx}}px"></div>
                    </span>
                    <!--The subscription option should only be visible if the user is logged in-->
                    {{>asset-utilization ../../.}}

                </div>

            </div>

        </div>

    </div>
    {{/attributes}}
    {{/with}}
    <div class="assetp-properties">

        <ul class="nav nav-tabs" id="assetp-tabs" data-aid="{{path}}">
            <li class="active">
                <a href="#tab-overview" data-toggle="tab" data-type="basic">{{t "Overview"}}</a>
            </li>
            <li>
                <a href="#tab-docs" data-toggle="tab" data-type="docs">{{t "Documentation"}}</a>
            </li>
	    <li>
		<a href="#tab-reviews" data-toggle="tab" data-type="comments">{{t "User Reviews"}}</a>
	    </li> 
	            
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab-overview">
                <div class="content">
                    {{>overview .}}
                </div>
            </div>
            
            <div class="tab-pane" id="tab-docs">
                <div class="content">
                    {{> documentation .}}
                </div>
            </div>         
            
            <div class="tab-pane" id="tab-reviews">
		 {{#with asset}}
		 {{#attributes}}
		 <iframe name="socialIfr" id="socialIfr"
		 src="../../../social/?target={{../../type}}:{{../id}}&user={{../../user.username}}"
		 width="100%" height="100%" style="height: 300px;"></iframe>
             <input value="{{../id}}" id="hdnAssetId" name="hdnAssetId" type="hidden">
             <input value="{{../../user.username}}" id="hdnUsertId" name="hdnAssetId" type="hidden">
             <input value="{{../../tenantId}}" id="hdnTenantId" name="hdnTenantId" type="hidden">

             {{#if ../../inDashboard}}
		 <div id="comment-content" class="content"></div>
		 {{else}}
		 <div id="comment-content" class="content user-review"></div>
		 {{/if}}
		 {{/attributes}}
		 {{/with}}
	   </div>
        </div>
        
         <div class="modal fade" id="messageModal1" style="display:none"></div>
         <div id="confirmation-data1" style="display:none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Modal header</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-other" data-dismiss="modal">Close</a>
            </div>
         </div>

    </div>
</div>

