<div>
    <table class='table' id='tableApps'>
        <thead>
        <th>Name</th>
        <th>Tier</th>
        <th>Callback URL</th>
        <th>Description</th>
        </thead>
        <tbody>

        {{#each apps}}
        <!--The appid of each app is stored as a meta data attribute-->
        <tr id='row-{{id}}' data-id='{{id}}'>
            <td data-field-name='appName'  data-field='text' data-value='{{name}}' >
                {{name}}
            </td>
            <td data-field-name='tier' data-value='{{tier}}'>
                {{tier}}
            </td>
            <td data-field-name='callbackUrl' data-field='text' data-value='{{callbackUrl}}'>
                {{callbackUrl}}
            </td>
            <td data-field-name='description' data-field='text' data-value='{{description}}'>
                {{description}}
            </td>
            <td data-action='edit' data-transitions='save,cancel'>
            </td>
            <td data-action='delete'>
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>