<div class="row">
    <div class="span3">
        <h4><i class="icon-time"></i> {{t "Recently Added"}}</h4>
        {{#slice . count="20" size="20"}}
        {{#each .}}
        <div class="row-fluid recently-added">
            {{#attributes}}
            <div class="span4 recent-asset-icon">
		<input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
                {{#compare  overview_advertiseOnly "true" operator="=="}}
                    <a href="{{url "/t"}}/{{overview_appTenant}}/assets/{{../../type}}/{{overview_advertisedAppUuid}} ">
                        <img src="{{#if images_thumbnail}}{{images_thumbnail}}{{/if}}"></a>
                {{else}}
                    <a href="{{tenantedUrl "/assets"}}/{{../../type}}/{{../../id}}"><img src="{{#if images_thumbnail}}{{images_thumbnail}}{{/if}}"></a>
                {{/compare}}
            </div>
            <div class="span8 recent-asset-details">
		<input type="hidden"  value="{{overview_allowAnonymous}}" id="allowAnonymous" name="allowAnonymous">
                {{#compare  overview_advertiseOnly "true" operator="=="}}
                    <strong><a href="{{url "/t"}}/{{overview_appTenant}}/assets/{{../../type}}/{{overview_advertisedAppUuid}} ">
                        {{overview_displayName}} </a></strong>
                {{else}}
                    <strong><a href="{{tenantedUrl "/assets"}}/{{../../type}}/{{../../id}}">{{overview_displayName}}</a></strong>
                {{/compare}}
                <small>by <a href="#">{{overview_provider}}</a></small>
                            <span class="star-rating">
                            	<div class="asset-rating">
                                    <div class="asset-rating-{{../rating.average}}star"></div>
                                </div>
                            </span>
            </div>
            {{/attributes}}
        </div>
        {{/each}}
        <hr/>
        {{/slice}}
    </div>
</div>
