<div id="myasset-container" class="row">


    <div class="span9">

        <h1> My Subscriptions - Web Apps</h1>

        {{#if subscriptions}}
        <div class="row-fluid">
            {{#each subscriptions}}
                <div class="span3 asset store-my-item" >

                    {{#compare status "UNPUBLISHED" operator="=="}}
                        <div class="ribbon-wrapper-red">
                            <div class="ribbon-red">Unpublished</div>
                        </div>
                    {{/compare}}

                    {{#compare status "DEPRECATED" operator="=="}}
                        <div class="ribbon-wrapper-red">
                            <div class="ribbon-red">Deprecated</div>
                        </div>
                    {{/compare}}

                    <a href="{{productionURL}}" target="_blank">
                        <div class="asset-icon">
                            <img class="icon" src="/store/storage/webapp/{{uuid}}/{{thumbnail}}">
                        </div>
                    </a>
                    <div class="asset-details">
                        {{#if isTenanted}}
                            <a class="asset-title" href="{{url "/t/"}}{{tenantDomain}}/assets/webapp/{{uuid}}">
                                <strong>{{name}}</strong>
                            </a>
                        {{else}}
                            <a class="asset-title" href="{{url "/t/"}}{{tenantDomain}}/assets/webapp/{{uuid}}">
                                <strong>{{name}}</strong>
                            </a>
                        {{/if}}
                    </div>

                </div>

            {{/each}}
            </div>
        {{else}}
            <div id="no-data-my-items" class="no-data">
                <i class="icon-inbox"></i>
                <p>
                    {{t "You have not subscribed to any web application as of yet."}}
                </p>
                <p>
                    <a href="{{tenantedUrl "/assets/webapp/"}}" class="btn btn-primary">{{t "Subscribe now"}}</a>
                </p>
            </div>
        {{/if}}



    </div>

</div>

{{#if subscriptions}}
<div class="row" style="padding-left: 30px">

    <div>
        <ul class="pagination">
            {{#compare page 1 operator="!="}}
                <li><a href="{{tenantedUrl "/extensions/assets/webapp/subscriptions?page="}}{{math page "-" 1}}"><span aria-hidden="true">&laquo;</span><span class="sr-only"></span></a></li>
            {{/compare}}

            {{#pagesloop pages}}
                <li {{#compare this ../page}}class="disabled" {{/compare}} ><a  href="{{tenantedUrl "/extensions/assets/webapp/subscriptions?page="}}{{this}}">{{this}}</a></li>
            {{/pagesloop}}

            {{#compare page pages operator="!="}}
                <li><a href="{{tenantedUrl "/extensions/assets/webapp/subscriptions?page="}}{{math page "+" 1}}"><span aria-hidden="true">&raquo;</span><span class="sr-only"></span></a></li>
            {{/compare}}


        </ul>
    </div>

</div>
{{/if}}
