<div id="myasset-container" class="row">


    <div class="span9">

        <h4> My Subscriptions</h4>

        {{#if subscriptions}}
            {{#each subscriptions}}
                <div class="span2 asset store-my-item" >

                    <div class="store-my-item-thumbnail">
                        <a href="{{url "/assets/webapp/"}}{{uuid}}"><img class="icon" src="/store/storage/webapp/{{uuid}}/{{thumbnail}}"></a>
                    </div>
                    <div class="store-my-item-info">
                        <a class="asset-title" href="{{url "/assets/webapp/"}}{{uuid}}">
                            <strong>{{name}}</strong>
                        </a>
                    </div>

                </div>

            {{/each}}
        {{else}}
            <div id="no-data-my-items" class="no-data">
                <i class="icon-inbox"></i>
                <p>
                    {{t "You still haven't any apps from the Store."}}
                </p>
                <p>
                    <a href="{{url "/assets/webapp/"}}" class="btn btn-primary">{{t "Subscribe now"}}</a>
                </p>
            </div>
        {{/if}}



    </div>

</div>

<div class="row" style="padding-left: 30px">

    <div>
        <ul class="pagination">
            {{#compare page 1 operator="!="}}
                <li><a href="{{url "/extensions/assets/webapp/subscriptions?page="}}{{math page "-" 1}}"><span aria-hidden="true">&laquo;</span><span class="sr-only"></span></a></li>
            {{/compare}}

            {{#pagesloop pages}}
                <li {{#compare this ../page}}class="disabled" {{/compare}} ><a  href="{{url "/extensions/assets/webapp/subscriptions?page="}}{{this}}">{{this}}</a></li>
            {{/pagesloop}}

            {{#compare page pages operator="!="}}
                <li><a href="{{url "/extensions/assets/webapp/subscriptions?page="}}{{math page "+" 1}}"><span aria-hidden="true">&raquo;</span><span class="sr-only"></span></a></li>
            {{/compare}}


        </ul>
    </div>

</div>