<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>{{include title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{url "/themes/publisher/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{url "/themes/publisher/css/font-awesome.min.css"}}">
    <!-- publisher styles -->
    <link href="{{url "/themes/publisher/css/es-publisher-commons.css"}}" rel="stylesheet" media="screen">

</head>
<body>
<div class="page">
{{>header}}
<div class="container-fluid top-row">
    {{include ribbon}}
</div>
<div class="container-fluid content-area">

<div class="row-fluid">
<div class="publisher-left-nav" data-spy="affix" data-offset-top="130">
    {{include leftnav}}
</div>
{{include listassets}}
</div>

</div>
{{>footer}}
</div>
<script src="{{url "/themes/publisher/js/jquery-1.10.2.min.js"}}"></script>
<script src="{{url "/themes/publisher/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/publisher/js/publisher.commons.js"}}"></script>
</body>
</html>