<div class="control-group">

 	<!--Support for unbounded tables-->
		{{#if field.isUnboundTable}}

                {{else}}
                 <b><label class="control-label">{{field.label}}:</label></b>
                {{/if}}
    
		<div class="controls">
			{{#if field.isOptions}}							
                                    <select id="{{field.name}}" class="span8 selectpicker fm-managed" name='{{field.name}}' data-use-plugins="TextFieldValueExtractor">
                                    {{#each field.valueList}}
                                        <option {{#if field.value}}selected{{/if}}>{{.}}</option>
                                    {{/each}}
                                    </select>
                        {{else}}
                                	{{#if field.isTextArea}}
                                    		<textarea id='{{field.name}}'  class="span8 fm-managed" name='{{field.name}}' data-use-plugins="TextFieldValueExtractor">{{field.value}}</textarea>
                               		{{/if}}
                                        
					{{#if field.isTextBox}}
                                     		{{#if field.isReadOnly}}
	                                		<input type="hidden" name='{{field.name}}' value='{{field.value}}'/>
	                                		<input id='{{field.name}}'  type='text'  class="span8 fm-managed" data-use-plugins="TextFieldValueExtractor,ReadOnlyField" value='{{field.value}}' {{#unless isEditable}} disabled="true" {{/unless}} {{#if field.isRequired}} required{{/if}}/>
	                                	{{else}}
	                                		<input id='{{field.name}}' name='{{field.name}}' type='text' value='{{field.value}}'  data-use-plugins='RequiredField,TextFieldValueExtractor' class="span8 fm-managed" {{#if field.isReadOnly}} disabled="true" {{/if}} {{#if field.isRequired}} required{{/if}}/>
	                                	{{/if}}
                                		
                                	{{/if}}

					{{#if field.isDate}}
                                        <input type='text' id='{{field.name}}' name='{{field.name}}' value='{{field.value}}' class='fm-managed' data-ready-only='{{field.isReadOnly}}' data-required="{{field.isRequired}}" data-use-plugins="RequiredField,DatePickerPlugin"
                                                data-date-format='yyyy-mm-dd' >
                                	{{/if}}
                                    
     					{{#if field.isFile}}

                                       		<div class="span8">
                                                                       		<div class="tbl-upload">
                                                                       			<div class="tbl-upload-row">
                                                                       				<div class="tbl-upload-cell">
                                                                       					 <input type="text" class="txt-filepath" disabled="true" name='{{field.name}}' value='{{field.value}}'/>
                                                                       				</div>
                                                                       				<div class="tbl-upload-cell">
                                                                       					<button class="btn btn-upload">Browse</button>
                                                                          					<input class='fm-managed' id='{{field.name}}' type='file' name='{{field.name}}' data-use-plugins="DefaultFileUploadPlugin,RequiredField"/>
                                                                       				</div>
                                                                       			</div>
                                                                       		</div>

                                                                       	</div>
                                    {{/if}}
                                {{/if}}

                                {{#if field.isOptionsText}}
                                    <div id="{{field.name}}" name='{{field.name}}' class="options-text fm-managed" data-add-button="Add {{field.label}}" data-selected="{{field.value}}" data-options="{{field.valueList}}" data-use-plugins="OptionsText" data-use-plugins="OptionsText" ></div>
                                {{/if}}

				 {{#if field.isUnboundTable}}
                                     {{>unbound-table field}}
                                {{/if}}
                               
                                {{#if field.isRequired}}
								<span class="label-required">*</span>
								{{/if}}
							</div>
						</div>
