<div class="form-group">
    <label class="control-label col-sm-2">{{field.label}}: {{#if field.isRequired}} <span class="label-required">*</span>{{/if}}</label>
    <div class="col-sm-10">

        {{#if field.isOptions}}
            <select id="{{field.name}}" class="selectpicker col-lg-6 col-sm-12 col-xs-12" name='{{field.name}}'>
            {{#each field.valueList}}
                <option {{#if field.value}}selected{{/if}}>{{.}}</option>
            {{/each}}
            </select>
        {{else}}
            {{#if field.isTextArea}}
                <textarea id='{{field.name}}' name='{{field.name}}' class="col-lg-6 col-sm-12 col-xs-12">{{field.value}}</textarea>
            {{/if}}
            {{#if field.isTextBox}}

                {{#if field.isReadOnly}}
                    <input type="hidden" name='{{field.name}}' value='{{field.value}}' class="col-lg-6 col-sm-12 col-xs-12"/>
                    <input id='{{field.name}}'  type='text' class="col-lg-6 col-sm-12 col-xs-12"  value='{{field.value}}' {{#unless isEditable}} disabled="true" {{/unless}} {{#if field.isRequired}} required{{/if}}/>
                {{else}}
                    <input id='{{field.name}}' name='{{field.name}}' class="col-lg-6 col-sm-12 col-xs-12" type='text' value='{{field.value}}'   {{#if field.isReadOnly}} disabled="true" {{/if}} {{#if field.isRequired}} required{{/if}}/>
            {{/if}}

            {{/if}}
            {{#if field.isFile}}

            <div class="tbl-upload">
                <div class="tbl-upload-row">
                    <input type="text" class="txt-filepath col-lg-6 col-sm-8 col-xs-6" disabled="true" name='{{field.name}}' value='{{field.value}}'/>
                    <input type="hidden" value="{{field.value}}" name='{{field.name}}'>
                    <button class="btn btn-upload btn-default">Browse</button>
                    <input id='{{field.name}}' type='file' name='{{field.name}}' class="col-lg-6 col-sm-12 col-xs-12"/>
                </div>
            </div>

            {{/if}}
        {{/if}}

        {{#if field.isOptionsText}}
            <div id="{{field.name}}" name='{{field.name}}' class="options-text" data-add-button="Add {{field.label}}" data-selected="{{field.value}}" data-options="{{field.valueList}}" ></div>
        {{/if}}


    </div>
</div>
