<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <ul class="nav nav-pills pull-left">
            <li {{#ifCond activeRibbonElement "==" "add-asset"}}class="active"{{/ifCond}}><a href="{{url "/asset/webapp"}}"><i class="icon-plus-sign-alt"></i> Add New Web Application</a></li>
            <li {{#ifCond activeRibbonElement "==" "list-assets"}}class="active"{{/ifCond}}><a href="{{url "/assets/webapp/"}}">All Web Applications</a></li>
            <li  {{#ifCond activeRibbonElement "==" "statistics"}}class="active"{{/ifCond}}><a href="{{url "/assets/statistics/webapp/"}}">Statistics</a></li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" id="inp_searchAsset" placeholder="{{t "Search Web Applications.."}}" value="{{query}}">
                <div class="input-group-addon"><a class="" id="search-button"> <i class="icon-search"></i> </a> </div>
                <input type="hidden" id="search-prefix" value="{{shortName}}"/>
            </div>
        </div>
    </div>
</div>


<div id="modal-redirect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-body">
		<div class="modal-loading"></div>
		<p>
			Redirecting you to the new Asset Version...
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary">
			Redirect now
		</button>
	</div>
</div>

