<div class="row com-review" data-target-id="{{id}}">
   <!--
    <div class="com-left">
           <img class="img-avatar" src="{{url "/themes/default/img/avatar.png"}}">
       </div>-->
   
    <div class="com-right">
        <div class="clear">
            <strong class="com-author">{{payload_user}}</strong>
            <div class="com-rating">
                <div class="com-rating-{{object.rating}}star"></div>
            </div>
            <p>
                {{object.content}}
            </p>
        </div>
        <div class="row">

            <div class="com-thumbs">
                <ul>
                    <li>
                        <a href="#"><i class="icon icon-thumbs-up {{#if iLike}}selected{{/if}}"></i><span class="com-like-count">{{likes.totalItems}}</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon icon-thumbs-down"></i></a>
                    </li>
                    <li class="com-thumbs-flag">
                        <a href="#">Flag</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
