<div class="row com-review" data-target-id="{{id}}">
   <!--
    <div class="com-left">
           <img class="img-avatar" src="{{url "/themes/default/img/avatar.png"}}">
       </div>-->
   
    <div class="com-right">
        <div class="clear">
            <strong class="com-author">{{actor.id}}</strong>
            <div class="com-rating">
                <div class="com-rating-{{object.rating}}star"></div>
            </div>
            <p>
                {{object.content}}
            </p>
        </div>
        <div class="row">

            <div class="com-thumbs">
                <ul>
                    <li>
                        <a href="#"><i class="icon icon-thumbs-up {{#if iLike}}selected{{/if}}"></i><span class="com-like-count">{{#if likes.totalItems}} {{likes.totalItems}} {{/if}}</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon icon-thumbs-down {{#if iDislike}}selected{{/if}}"></i><span class="com-dislike-count">{{#if dislikes.totalItems}} {{dislikes.totalItems}} {{/if}}</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
